<div class="strawberry">
    <div class="container">
        <div class="row">
            <h1 class="col-12 text-center my-3">
                <span>{spec}</span>
                <span>{label}</span>
            </h1>
        </div>
    </div>
    <div class="child-router container">
        <div class="row">
            <div class="col-6">
                <a href="/strawberries/{strawberryId}/logs/create/" class="d-block form-control">Create Log</a>
            </div>
            <div class="col-6">
                <a class="form-control" href="/strawberries/">Back To List</a>
            </div>
        </div>

        <hr class="mt-5" />
    </div>

    <div class="container mt-5">
        <div class="row my-2" swim-for="log in logs">
            <div class="col-4 col-sm-3 ">
                <a class="d-block py-5 border-1 border rounded-3 text-center"
                    href="/strawberries/{strawberryId}/logs/{id}/">
                    {createdAt}
                </a>
            </div>
        </div>
    </div>
</div>