<div class="strawberry-list">
    <div class="child-router">
        <div class="container">
            <h2 class="py-3">Strawberries</h2>
            <div class="row " swim-for="strawberry in strawberries">
                <div class="text-black col-2 col-sm-3 px-0 my-2">
                    <a href="/strawberries/{id}/" class="d-block m-2 p-2 border-1 border rounded-3 text-center">
                        <span>{spec}</span> <span>{label}</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>