.btn-primary {
  background: white;
  color: #163c9d;
  outline: none;
  border: none;
  font-weight: 600; }
  .btn-primary:hover {
    background: #e9faff;
    color: #0048ff; }
  .btn-primary:active {
    background: #d3f5ff;
    color: #0048ff; }
  .btn-primary:disabled {
    background: #dcdff0;
    opacity: 1;
    color: rgba(0, 0, 0, 0.25); }
  .btn-primary.btn-md {
    font-size: 20px; }
    @media (max-width: 991.98px) {
      .btn-primary.btn-md {
        font-size: 16px; } }

.form-control {
  padding: 1rem 1.5rem;
  border: 1px solid rgba(0, 0, 0, 0.25); }
  .form-control:focus {
    background-color: transparent;
    border-color: #30a7df;
    box-shadow: none; }
  .form-control.invalid {
    border-color: #ff4747; }
  .form-control:disabled {
    background: rgba(255, 255, 255, 0.09);
    border: 1px solid rgba(255, 255, 255, 0.15); }
    .form-control:disabled::placeholder {
      color: rgba(255, 255, 255, 0.15); }

.main .bottom-check-in {
  padding: 80px 0 60px;
  background: linear-gradient(93.98deg, #151b5e 20.16%, #042992 86.7%); }
  .main .bottom-check-in .content {
    max-width: 588px; }

.main .slogan img {
  transform: scale(1) translate(0, -10px); }

@media (min-width: 992px) {
  .main .slogan img {
    transform: scale(1.5) translate(30px, -10px); } }
