.btn-primary {
  background: #3b7e50;
  color: #fff;
  outline: none;
  border: none;
  font-weight: 600; }
  .btn-primary:hover {
    color: #fff; }
  .btn-primary:active {
    color: #fff; }
  .btn-primary:disabled {
    opacity: 1;
    color: rgba(0, 0, 0, 0.25); }
  .btn-primary.btn-md {
    font-size: 20px; }
    @media (max-width: 991.98px) {
      .btn-primary.btn-md {
        font-size: 16px; } }

.form-control {
  padding: 1rem;
  border: 2px solid rgba(0, 0, 0, 0.25); }
  .form-control:focus {
    border-color: #14ffca;
    box-shadow: none; }
  .form-control.invalid {
    border-color: #ff4747; }
  .form-control:disabled {
    background: rgba(255, 255, 255, 0.09);
    border: 1px solid rgba(255, 255, 255, 0.15); }
    .form-control:disabled::placeholder {
      color: rgba(255, 255, 255, 0.15); }
